In [31]:
import math
from functools import reduce
import random
from functools import partial
import string
import re
import urllib
import requests

In [191]:
# From a pre-stored fibonacci list, a given number has to be checked if it's a fibonacci number

fib_list = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]
fib_check = lambda x : True if x in fib_list else False

In [192]:
fib_check(55)

True

In [144]:
# From 2 lists, even number from 1st list and odd number from 2nd list should be added...using list comprehension, lambda/filter can also be used
def even_odd(l1, l2):
    if len(l1) == 0:
        raise ValueError('list1 cannot be empty')
    if len(l2) == 0:
        raise ValueError('list2 cannot be empty')
    else:
        return[x + y for x, y in zip(l1, l2) if x % 2 ==0 and y % 2 != 0]

In [145]:
even_odd([2,4,6,9,10,22,33], [12,4,7,16,15,25,26])

[13, 25, 47]

In [148]:
# Vowels should be stripped from a given string using list comprehension
def strip_vowel_str(str):
    vowels = ['a', 'e', 'i', 'o', 'u']
    if len(str) <= 1:
        raise ValueError("string should have more than one character")

    else:
        return "".join([x for x in str if x not in vowels])

In [149]:
strip_vowel_str('python')

'pythn'

In [162]:
# RelU function should be defined using list comprehension

def relu_activation(l):
    if len(l) == 0:
        raise ValueError("atleast one value must be entered in the list")
    for i in l:
        if type(i) not in (int, float):
            raise TypeError("only ints or floats are allowed")
        else:
            pass
    else:
        return[0 if x < 0 else x for x in l]

In [163]:
relu_activation([-3, -2, -1, 0, 1, 2, 3.5])

[0, 0, 0, 0, 1, 2, 3.5]

In [164]:
# sigmoid function should be defined using list comprehension
def sigmoid_activation(l):
    if len(l) == 0:
        raise ValueError("atleast one value must be entered in the list")
    for i in l:
        if type(i) not in (int, float):
            raise TypeError("only ints or floats are allowed")
        else:
            pass
    else:
        return[round(1/(1+math.exp(-x)),2) for x in l]

In [165]:
sigmoid_activation([-3, -2, -1, 0, 1, 2, 3.5])

[0.05, 0.12, 0.27, 0.5, 0.73, 0.88, 0.97]

In [158]:
# function to shift the characters by 5 places
def shift_5_char(str):
    if len(str) <= 1:
        raise ValueError("string should have more than one character")
    else:
        str = str.lower()
        return "".join([chr(ord(x)+5) if (ord(x)+5) <=122 else chr(ord(x)+5-122+96) for x in str])

In [193]:
shift_5_char('abcde')

'fghij'

In [169]:
response = requests.get("https://raw.githubusercontent.com/RobertJGabriel/Google-profanity-words/master/list.txt")
data = response.text
data

def profane_filter(str):
    if len(str) <= 1:
        raise ValueError("string should have more than one character")
    else:
        return True if str.lower() in data else False

In [170]:
profane_filter('Fuck')

True

In [171]:
# Using reduce , lambda etc the even numbers in a list must be added.
def add_even_num(l):
    if len(l) == 0:
        raise ValueError("atleast one value must be entered in the list")
    for i in l:
        if type(i) != int:
            raise TypeError("only ints are allowed")
        else:
            pass
    sum = reduce(lambda a, b: a + b, filter(lambda a: (a % 2 == 0), l))
    return sum

In [172]:
add_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

30

In [173]:
# Using reduce, lambda etc the biggest ascii character in a given string must be found
def big_char_str(str):
    if len(str) <= 1:
        raise ValueError("string should have more than one character")
    else:
        result = reduce(lambda a, b: a if ord(a) > ord(b) else b, str)
        return result

In [174]:
big_char_str('Welcome')

'o'

In [175]:
# Using reduce, lambda function every third number must be added in a list
def add_third_num(l):
    if len(l) == 0:
        raise ValueError("atleast one value must be entered in the list")
    for i in l:
        if type(i) != int:
            raise TypeError("only ints are allowed")
        else:
            pass
    else:
        add_third_number = reduce(lambda a, b: a + b, l[2::3])
        return add_third_number

In [176]:
add_third_num([1, 2, 3, 4, 5, 6, 7, 8, 9])

18

In [177]:
# Using randint, random.choice and list comprehensions, 15 random KADDAADDDD number plates must be generated, where KA is fixed, D stands for a digit, and A stands for Capital alphabets
def num_plate (x= 'KA', *y):
    Alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y','Z']
    return [x+ str(random.randint(10,99))+str(random.choice(Alphabet))+str(random.choice(Alphabet))+str(random.randint(1000,9999)) for i in range(15)]

In [94]:
num_plate()

['KA29QD1029',
 'KA22IU3699',
 'KA88VT3796',
 'KA77VK7525',
 'KA26NC7952',
 'KA62IB6018',
 'KA84IH9472',
 'KA69UT6490',
 'KA98PP3681',
 'KA42QI1845',
 'KA27ID7921',
 'KA46JT4251',
 'KA96BW1429',
 'KA47HT8486',
 'KA50BN1069']

In [178]:
# Using the above, we write a partial function such that 1000/9999 are hardcoded, but KA can be provided
from functools import partial
new_plate = partial(num_plate)

new_plate("DL")

['DL94UV6606',
 'DL71PL6877',
 'DL78YO9184',
 'DL92DP2839',
 'DL24JR7179',
 'DL54PH1185',
 'DL21TH9048',
 'DL26SY6519',
 'DL48TE5380',
 'DL20LG1661',
 'DL70ON9738',
 'DL61GO4598',
 'DL36VG7008',
 'DL62VV2464',
 'DL93MY4017']

In [103]:
new_plate("AP")

['AP15HO8241',
 'AP43AB4028',
 'AP23LB9536',
 'AP16EI7189',
 'AP15WK7304',
 'AP96TQ2797',
 'AP66WW7132',
 'AP95VJ8623',
 'AP28RG8770',
 'AP81VU2276',
 'AP37WR6744',
 'AP45ED2806',
 'AP49RS3362',
 'AP38IS9578',
 'AP50BU7112']